title: gilangvf8-hash / Keruntuhan Hizbut Tahrir
description: Catatan dan artikel pribadi
theme: minima
plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
url: "https://gilangvf8.netlify.app"
