<!DOCTYPE html>
<html lang="id">
<head>

    
        {% include head.html %}
</head>
<body>
  {% include header.html %}
<br>
  <div class="container">
    <div class="repo-info">
      <h1>{{ page.title }}</h1>
      {{ content }}
      <p><strong>Dibuat oleh:</strong> Gilang V F</p>
      <p>Tanggal: {{ page.date | date: "%d %B %Y" }}</p>
    </div>
  </div>
    <!-- Navigasi posting sebelumnya & selanjutnya -->
    <div class="related-posts file-list">
  <h2>Postingan Lainnya</h2>
  {% for post in site.posts limit:3 %}
    {% if post.url != page.url %}
      <div class="file">
        📄 <span><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
      </div>
    {% endif %}
  {% endfor %}
    </div>

  {% include footer.html %}
</body>
</html>
